h1 {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

th {
  background-color: rgb(174, 249, 224);
  width: 150px;
}

tr:hover {
  background-color: #D6EEEE;
}

tr:nth-child(odd) {
  background-color: #f2ffc7;
}

input {
  width: 40px;
}

.amt_att {
  flex-direction: row;
}

.amt_att input {
  background-color: rgb(255, 255, 255);
  width: 35px;
  height: 15px;
  border: 1px solid rgb(200, 191, 191);
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  display: flex;
  flex-direction: row;
  border: 1px dotted gray;
}

.tr {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.name {
  padding: 0px 2px;
  border: 2px solid greenyellow;
  font-size: medium;
}

.tr .td {
  height: 50px;
}

.empDetail {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 2px solid goldenrod;
}

.box {
  border: 2px solid blue;
  height: 25px;
}

.box-text {
  width: 20px;
  height: 25px;
}

.totalAttendance,
.amt,
.moneyTaken,
.RemAmt {
  border: 2px solid green;
  height: 50px;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */