.owner,
h2 {
  display: flex;
  justify-content: center;
}

.owner {
  position: relative;
  left: 35%;
  width: 150px;
  border: 2px solid black;
  border-radius: 60px;
}

.owner img {
  width: 100%;
  height: 100%;
  border-radius: 60px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

th {
  background-color: rgb(174, 249, 224);
  width: 150px;
}

tr:hover {
  background-color: #D6EEEE;
}

tr:nth-child(odd) {
  background-color: #f2ffc7;
}

input {
  width: 40px;
}

.amt_att {
  flex-direction: row;
}

.amt_att input {
  background-color: rgb(192, 170, 170);
  width: 35px;
  height: 15px;
  border: 1px solid rgb(200, 191, 191);
}